#umiejetnosci {
    color: #291f1a;
    font-family: "Lato", sans-serif;
}

#umiejetnosci .header__umiejetnosci {
    text-align: center;
    line-height: 30px;
}

#umiejetnosci .content__2 {
    text-align: center;
    position: relative;
    padding-bottom: 3%;
}

#umiejetnosci .container_inner,
  #umiejetnosci .opis {
    display: flex;
    justify-content: center;
    line-height: 30px;
}
