
@media all and (max-width: 992px) {
    .yerba {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
}
@media all and (max-width: 480px) {
    .yerba {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
}